<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" preserve-order="true">
  <listeners>
    <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
  </listeners>

  <test thread-count="5" name="SanityTest">
    <classes>
    	<class name="co.il.testing.myfinancialplan.SanityTest"/>
    <!-- <class name="co.il.testing.myfinancialplan.AdvancedTest"/> --> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
