name: Run financial website tests

on: # Manual trigger with a browser chooser
  workflow_dispatch:
    inputs:
      browser:
        description: "Choose your browser"
        required: true
        default: chrome
        type: choice
        options: [chrome, firefox, edge]

run-name: "Run E2E test on ${{ inputs.browser }} browser"

jobs:
  Sanity:
    name: Sanity test
    runs-on: ubuntu-latest
    environment: Web_sittings
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin # Set up Java 17 (Temurin distribution)
          java-version: 17

      - uses: ./.github/actions #Run test summary with the following results (passed, failed, skipped, ignored)
        with:
          label: Sanity

      - run: mvn clean -Dbrowser=${{ inputs.browser }} test allure:report

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Allure-report-Sanity # Run tests and generate Allure report
          path: target/site/allure-maven-plugin

  Advanced:
    name: Advanced test
    runs-on: ubuntu-latest
    environment: Web_sittings
    needs: Sanity
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with: 
          distribution: temurin 
          java-version: 17

      - uses: ./.github/actions 
        with:
          label: Advanced

      - run: mvn clean -Dbrowser=${{ inputs.browser }} test allure:report

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Allure-report-Advanced
          path: target/site/allure-maven-plugin

  Load:
    name: Load test
    runs-on: ubuntu-latest
    environment: Web_sittings
    needs: Advanced
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - uses: ./.github/actions
        with:
          label: Load

      - name: Set up Docker #This for running Grafana k6 image
        uses: docker/setup-buildx-action@v3

      - run: mvn clean -Dbrowser=${{ inputs.browser }} test allure:report

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: k6-load-report
          path: ./k6_results/report.html
